
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guardar</title>
</head>
<body>

    <h1>Se ha guardado la factura correctamente</h1>
</body>
</html>
