@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ruta al layout
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <br />
    <br />
    <p style="text-align:center" > <h1>No se encuentra la factura solicitada</h1></p>
</body>
</html>
